:root {

  /* Farben */

  --background: #09090b;
  --surface: #13131a;
  --surface-light: #1d1d26;

  --text: #ffffff;
  --text-light: #c7c7cf;
  --text-muted: #8d8d99;

  --green: #34d27b;
  --green-light: #5bf5a0;

  --purple: #8b5cf6;
  --purple-light: #b68cff;

  --border: rgba(255,255,255,.08);

  /* Abstände */

  --radius: 20px;

  --shadow:
    0 20px 50px rgba(0,0,0,.35);

  --container: 1280px;

}